/* @import url("https://fonts.googleapis.com/css?family=Open+Sans"); */

.topic-page-wrapper {
    padding-top: 53px;
    display: flex;
}

.sidebar {
  width: 25%;
  background: #312450;
  font-size: 0.65em;
}

.nav {
  position: relative;
  text-align: right;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  padding: 0;
}
/* li {
  position: relative;
  margin: 3.2em 0;
} */
.topic-theme {
  /* line-height: 5em; */
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(#fff, 0.35);
  display: block;
  white-space: nowrap;
  transition: all ease-out 300ms;
}

.topic-theme.active .topic-theme {
  color: white;
}

.topic-theme:not(.active)::after {
  opacity: 0.2;
}

.topic-theme:not(.active):hover .topic-theme {
  color: rgba(#fff, 0.75);
}

.topic-theme::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

.twitter {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.content-item {
  padding: 20px;
  margin: 10p;
}