/* @import url("https://fonts.googleapis.com/css?family=Open+Sans"); */

.topic-page-wrapper {
  padding-top: 53px;
  display: flex;
}

.sidebar {
  position: fixed;
  min-width: 20%;
  background: #312450;
  font-size: 0.65em;
  margin-top: 10px;
}

.nav {
  position: relative;
  text-align: right;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  padding: 0;
}
/* li {
  position: relative;
  margin: 3.2em 0;
} */
.topic-theme {
  /* line-height: 5em; */
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(#fff, 0.35);
  display: block;
  white-space: nowrap;
  transition: all ease-out 300ms;
}

.topic-theme.active .topic-theme {
  color: white;
}

.topic-theme:not(.active)::after {
  opacity: 0.2;
}

.topic-theme:not(.active):hover .topic-theme {
  color: #655982;
}

.list {
  cursor: pointer;
}

.list:hover {
  background-color: #695694 !important;
}

.list.active {
  background-color: #e5e5e5 !important  ;
}

.topic-theme::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

.twitter {
  margin: 20px 0 0 20%;
  display: flex;
  flex-wrap: wrap;
}

.content-item {
  padding: 20px;
  margin: 10px;
  width: 20%;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-item:hover .content-description {
  text-overflow: unset;
  overflow: visible;
  -webkit-line-clamp:unset;
  height: fit-content;
  background-color: #695694;
  position: absolute;
  color: white;
  max-height: unset;
  padding: 10px;
  font-size: 18px;
  width: fit-content;
  border-radius: 10px;
}

.content-item:hover {
  overflow: visible;
  position: relative;
}

.content-title {
  padding: 10px;
}

.content-description {
  /* padding: 10px; */
  color: rgb(71, 69, 69);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 0.875rem;
  line-height: 1.28;
  max-height: 36px;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: revert;
}

@media screen and (max-width: 768px) {
  .content-item {
    width: 15%;
  }
}

@media screen and (max-width: 510px) {
  .content-item {
    width: 100%;
  }

  .twitter {
    margin-left: 120px;
  }
}
