.content-card {
    margin-top: 70px;
    padding: 20px
}

.topic-container {
    display: flex;
}

.topics-section {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.add-topic {
    width: 10%;
    color: #ffff;
    margin: 20px;
    border: none;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

.add-topic:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.add-topic-icon {
    display: none;
}

.add-topic-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.add-topic-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.add-topic-name div {
    padding: 10px;
}

.add-topic-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.add-topic-image .with-image {
}

.add-topic-image img {
    width: 90px;
    height: 75px;
}

.add-topic-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-topic-submit button {
    border-radius: 10px;
}

.admin-topic-img {
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.admin-topic-section {
    margin: 5px;
    cursor: pointer;
}

.admin-topic-section:hover .admin-topic-title{
    font-size: larger;
    color: #2196F3;
    cursor: pointer;
    transition: font-size 0.5s;

}

@media screen and (max-width: 765px) {
    .add-topic-icon {
        cursor: pointer;
        display: block;
    }
    .add-topic {
        display: none;
    }
}